{% extends "base.html" %}
{% load i18n %}
{% block title %}404 {% trans "Page Not Found" %}{% endblock %}
{% block bodyclass %}e404{% endblock %}
{% block content %}
  <h1>{% trans "Page Not Found" %}</h1>
  <p>{% blocktrans %}We are very sorry but we can't show this page to you. We just don't have it.{% endblocktrans %}</p>
  <p>
    {% url frontpage as url %}
    {% blocktrans %}Why don't you visit our <a href="{{ url }}">homepage</a>?{% endblocktrans %}</p>
  <p>
    <img src="http://placekitten.com/300/200" width="300" height="200" />
  </p>
{% endblock %}