{% extends "base.html" %}
{% block content %}
<div class="prepend-5 span-14 last">
<h2>Sign in</h2>
  <form class="signin span-8 append-bottom" method="post" action="{% url auth_login %}">
  {% csrf_token %}
  {% for field in form %}
  {% if request.GET.next %}
    <input type="hidden" name="next" value="{{ request.GET.next }}" />
  {% endif %}
  <div class="field">
    {{ field.label_tag }}
    {% for error in field.errors %}
    <div class="error small">{{ error }}</div>
    {% endfor %}
    {{ field }}
  </div>
  {% endfor %}
  <div class="buttons"><input type="submit" value="Sign in" /></div>
  </form>
</div>
{% endblock%}
