*.bat
*.orig
*.pyc
*.sh
*.sql
.project
.pydevproject
.settings
.svn/
commit.txt
preprocesscache/
.installed.cfg
bin/
develop-eggs/
parts/
eggs/
downloads/
virtualenv/
project/media/upload/
project/media/CACHE/
project/media/admin/
project/media/blog/
project/media/blueprint/
project/media/debug_toolbar/
project/media/jquery/
project/settings.py
project/development.py
project/production.py
