*.bat
*.orig
*.pyc
*.sh
*.sql
.project
.pydevproject
.idea/
.settings
.svn/
commit.txt
preprocesscache/
.installed.cfg
bin/
develop-eggs/
parts/
eggs/
downloads/
virtualenv/
project/media/upload/
project/media/CACHE/
project/media/admin/
project/media/blog/
project/media/debug_toolbar/
project/development.py
project/production.py
project/manage.py

/project/media/COFFEESCRIPT_CACHE/
/apps/coffeescript