*.bat
*.orig
*.pyc
*.sh
*.sql
.project
.pydevproject
.settings
.svn/
commit.txt
preprocesscache/
.installed.cfg
bin/
develop-eggs/
parts/
eggs/
downloads/
project/media/upload/
project/media/gen/
project/media/static/

