{% extends "base.html" %}

{% block title %}{{ article.title|e }} | super(){% endblock %}

{% block head %}
  {{ super() }}
  {% for keyword in article.keywords %}
    <meta name="keywords" content="{{keyword}}" />
  {% endfor %}

  {% for description in article.description %}
    <meta name="description" content="{{description}}" />
  {% endfor %}

  {% for tag in article.tags %}
    <meta name="tags" content="{{tag}}" />
  {% endfor %}
{% endblock %}

{% block content %}
  <article class="full-article">
    <header>
      <h1 class="article-title">{{ article.title|e }}</h1>
    </header>
    {{ article.content }}
    <hr>
    <footer>
      <div class="article-publication-date">
        {% trans %}Published on{% endtrans %} <time datetime="{{ article.date.date().isoformat() }}">{{ article.date|format_date(DEFAULT_LANG) }}</time>
      </div>
      <div class="article-tags">
        {% if article.tags %}
          {% trans %}Topics{% endtrans %}:
          <ul>
            {% for tag in article.tags %}<li><a href="{{ SITEURL }}{{ tag.url }}">{{ tag.name }}</a></li>{% endfor %}
          </ul>
        {% endif %}
      </div>
    </footer>
  </article>
  {% if DISQUS_ID %}
    {% include "include/disqus.html" %}
  {% endif %}
{% endblock %}
