<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
  <meta charset="utf-8" />
  <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
  <link rel="icon" href="/theme/images/favicon-16.png" type="image/png" sizes="16x16"/>
  <link rel="icon" href="/theme/images/favicon-32.png" type="image/png" sizes="32x32"/>
  <link rel="icon" href="/theme/images/favicon-48.png" type="image/png" sizes="48x48"/>
  <link rel="icon" href="/theme/images/favicon-128.png" type="image/png" sizes="128x128"/>
  {% block head %}{% endblock %}
  {% block feeds %}
  <link href="{{ SITEURL }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }}" />
  {% if tag %}
  <link href="{{ SITEURL }}/{{ TAG_FEED_RSS|format(tag.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} | {{ tag.name }}" />
  {% endif %}
  {% endblock %}
  {% block css %}
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/theme/css/bootstrap.min.css">
  <link rel="stylesheet" href="/theme/css/style.css"/>
  {% endblock %}
  {% block js %}
  {% endblock %}
</head>

<body class="{% block page_class %}{% endblock %}">
  {% block body %}
    {% block header %}
      {% include "include/header.html" %}
    {% endblock %}
    {% block main %}
      <hr>
      <main class="container">
        {% block content %}{% endblock %}
      </main>
    {% endblock %}
    {% block footer %}
      {% include "include/footer.html" %}
    {% endblock %}
  {% endblock %}
  {% if GOOGLE_ANALYTICS_ID %}
    {% include "include/google-analytics.html" %}
  {% endif %}
</body>
</html>
