{% load compress %}

{% compress css %}
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}blueprint/reset.css" media="screen, projection" /> 
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}blueprint/typography.css" media="screen, projection" /> 
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}blueprint/grid.css" media="screen, projection" /> 
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}styles/error.css" media="screen, projection" /> 
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}styles/cv.css" media="screen, projection" /> 
{% endcompress %} 
