{{ form.entry_type }}
<div class="field">
  {{ form.published }}
  {{ form.published.label_tag }}
</div>
<div class="field last">
  {% for error in form.publication_date.errors %}
  <div class="error small">{{ error }}</div>
  {% endfor %}
  {% for error in form.publication_time.errors %}
  <div class="error small">{{ error }}</div>
  {% endfor %}
  {{ form.publication_date.label_tag }}<br/>
  {{ form.publication_date }} {{ form.publication_time }}
</div>
<script type="text/javascript">
  $(function() {
    $("input.date").datepicker({ dateFormat: 'dd.mm.yy', showButtonPanel: true,
                                 changeMonth: true, changeYear: true });
  });
</script>
<div class="field">
  {{ form.disable_comments }}
  {{ form.disable_comments.label_tag }}
</div>
<div class="field">
  {{ form.hide_comments }}
  {{ form.hide_comments.label_tag }}
</div>
<div class="field">
  {{ form.include_in_rss }}
  {{ form.include_in_rss.label_tag }}
</div>
<div class="field">
  {{ form.cover }}
  {{ form.cover.label_tag }}
</div>
