/* Grid */
.grid .cell {
  background-color: #08bcc3;
  color: #ffffff;
  cursor: pointer;
  line-height: 15px;
  margin-bottom: 20px;
  margin-right: 10px;
}

.grid .cell.cover {
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  text-shadow: 1px 1px 1px #000;
}

.grid .cell .inner {
  height: 130px;
  padding: 10px;
  background-position: 10px 125px;
  background-repeat: no-repeat;
}

.grid .cell.text {
  background-color: #08bcc3;
}

.grid .cell.text .inner {
  background-image: url(../images/text-icon.png);
}

.grid .cell.photo {
  background-color: #08bcc3;
}

.grid .cell.photo .inner {
  background-image: url(../images/photo-icon.png);
}

.grid .cell.video {
  background-color: #000000;
}

.grid .cell.video .inner {
  background-image: url(../images/play-icon.png);
}

.grid .cell.link {
  background-color: #a10789;
}

.grid .cell.link .inner {
  background-image: url(../images/link-icon.png);
}

.grid .cell.quote {
  background-color: #999999;
}

.grid .cell.quote .inner {
  background-image: url(../images/quote-icon.png);
}

.grid .cell.audio {
  background-color: #ff4040;
}

.grid .cell.audio .inner {
  background-image: url(../images/audio-icon.png);
}

/* Post */
.post h2 a,.post h2 a:visited {
  color: #000000;
}

.post h2 a.permalink {
  text-decoration: none;
  padding: 0 0.2em;
  font-size: 70%;
  vertical-align: top;
  background: #fff200;
}