<!DOCTYPE html>
<html>
  {% load i18n %}
  {% load blog_tags %}
  {% load flatblock_tags %}
  <head>
    <meta charset="utf-8"/>
    <meta name="google-site-verification" content="x2ZAuUS4Bc581RdBqcKRWDdjYvKe6-wJ7PhqglEKE6k" />
    <title>{% block title %}{% if page_title %}{{ page_title }} | {% endif %}{{ blog.title }}{% endblock %}</title>
    <link rel="icon" href="{{ STATIC_URL }}images/favicon.png"/>
    <link rel="openid.server" href="http://www.myopenid.com/server" />
    <link rel="openid.delegate" href="http://andreyfedoseev.myopenid.com/" />

    {% include "blog/include/css.html" %}
    {% block extra-css %}{% endblock %}
    {% block extra-head %}{% endblock %}
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body class="{% block bodyclass %}{% endblock %}">
  <header class="global">
    {% if is_frontpage %}
      <h1>{{ blog.title }}</h1>
    {% else %}
      <h1><a href="{{ blog.get_absolute_url }}">{{ blog.title }}</a></h1>
    {% endif %}
    {% include "blog/include/navigation.html" %}
    <span class="locale-switcher">{% locale_switcher %}</span>
  </header>

  <div class="page">
    <div class="content" id="content">
      {% block content %}
        
      {% endblock %}
    </div>

  </div>

  <footer class="global">
    {% include "blog/include/navigation.html" %}
    {% if blog.author_name %}
    <p class="copyright">
      © {{ blog.author_name }}, 2010 — {% now "Y" %}
    </p>
    {% endif %}
  </footer>

  {% include "blog/include/js.html" %}
  {% block extra-js %}{% endblock %}
  {% if not debug %}
    {% flatblock "analytics" %}
  {% endif %}
</body>
</html>