{% extends "blog/base.html" %}
{% load blog_tags %}
{% load i18n %}
{% block title %}{% trans "Archive by date" %}{% endblock %}
{% block content %}
  <h2>{% trans "Archive by date" %}</h2>
  {% for year in years %}
  <div class="date-archive span-4{% if forloop.counter|divisibleby:4 %} last{% endif %}">
    <h4><a href="{% url blog:index_by_date year=year.value %}">{{ year.value }}</a></h4>
    <ul class="archive">
      {% for month in year.months %}
        <li>
          <a href="{% url blog:index_by_date year=year.value,month=month.value %}">{{ month.title }}</a>
          <span class="quiet small">({{ month.number }})</span>
        </li>
      {% endfor %}
    </ul>
  </div>
  {% endfor %}
{% endblock %}
