{% extends "blog/base.html" %}
{% load blog_tags %}
{% load pytils_dt %}
{% load i18n %}
{% block title %}{{ entry }}{% endblock %}
{% block sidebar %}
<div class="sidenote"><div class="inner rounded">
  {% blocktrans with entry.publication_timestamp|humanized_date as date%}Published on <br/>{{ date }}{% endblocktrans %}
  {% if entry.tags.count %}<br />{% trans "with tags:" %}
    <ul class="entry-tags">
      {% for tag in entry.tags %}
        <li><a href="#">{{ tag.name }}</a></li>
      {% endfor %}
    </ul>
  {% endif %}
  <div class="foot">
    <a href="{{ entry.get_absolute_url }}">{% trans "Permalink" %}</a> 
  </div>
</div></div>
{% endblock %}
{% block content %}<div class="post">
    <h2>{{ entry }}</h2>
    {% render_text entry %}
  </div> 
{% endblock %}
{% block post_content %}
  {% with entry.threaded_comments as comments %}
    <div id="comments" >
      <div class="append-bottom span-18">
        <a href="#" id="add-comment" class="rounded">{% trans "Add comment" %}</a>
        <h4{% if not comments.count %} style="display: none;"{% endif %}>{% trans "Comments" %}</h4>
      </div>
      {% for comment in entry.threaded_comments %}
        {% include "blog/comments/include/comment.html" %}
      {% endfor %}
    </div>
    <script type="text/javascript">
      $(function() {
          new CommentWidget('{% url blog:comment_form entry_id=entry.id %}', '{% url blog:preview_comment %}');
      });
    </script>
  {% endwith %}
{% endblock %}
  