{% extends "blog/base.html" %}
{% load i18n %}
{% load blog_tags %}
{% load coffeescript %}

{% block title %}{{ page_title }}{% endblock %}

{% block extra-head %}
  {% if entry.tags.exist %}
  <meta name="keywords" content="{{ entry.tags|join:"," }}" />
  {% endif %}
{% endblock %}

{% block content %}
  <article class="entry">
    <header>
      <h1>{{ entry.title }}</h1>
      {% if is_author %}
        <a class="edit" href="{% url blog:admin_edit_entry entry.id %}">{% trans "Edit" %}</a>
      {% endif %}
      <div class="timestamp">
        {% trans "Published on" %} <time datetime="{{ entry.publication_timestamp|date:"c" }}" pubdate>{{ entry.publication_timestamp|humanized_date }}</time>
      </div>
    </header>
    {{ entry.full_text }}
    <footer>
      <div>
        {% if entry.tags.exists %}
        {% trans "Tags" %}:
        <ul>
          {% for tag in entry.tags %}
            <li><a href="{% url blog:index tag=tag.name %}">{{ tag }}</a></li>
          {% endfor %}
        </ul>
        {% endif %}
        {% spaceless %}
        <span class="share-buttons">
          <a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal">Tweet</a>
          <g:plusone size="medium" count="true" href="{{ entry.get_absolute_url }}"></g:plusone>
        </span>
        {% endspaceless %}
      </div>
      <nav>
        <a class="prev" {% if not prev_entry %}style="display: none;"{% endif %} href="{{ prev_entry.get_absolute_url }}">&larr; <span>{{ prev_entry.title }}</span></a>
        <a class="next" {% if not next_entry %}style="display: none;"{% endif %} href="{{ next_entry.get_absolute_url }}"><span>{{ next_entry.title }}</span> &rarr;</a>
      </nav>

    </footer>
  </article>
  <section id="comments">
    <header>
      <h1>{% trans "Comments" %}</h1>
      <a href="#comment-form" class="show-comment-form"><span>{% trans "Add comment" %}</span></a>
    </header>
    {% for comment in entry.threaded_comments %}
      {% include "blog/include/comment.html" %}
    {% endfor %}
    {% with comment_form as form %}
      {% include "blog/include/comment-form.html" %}
    {% endwith %}
    <footer>
      <a href="#comment-form" class="show-comment-form"><span>{% trans "Add comment" %}</span></a>
    </footer>
  </section>
{% endblock %}

{% block extra-js %}
  <script>
    {% inlinecoffeescript %}
      window.init_fancybox()
      window.init_comment_form()
    {% endinlinecoffeescript %}
  </script>
  <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
{% endblock %}