{% load blog_tags %}
<div class="span-6{% if forloop.counter|divisibleby:3 %} last{% endif %}">
{% with entry|cover as cover %}
{% if cover %}
<div class="rounded cell {{ entry.entry_type }} cover" id="cell_p{{ entry.id }}" style="background-image: url({{ cover }});">
   <a class="inner" href="#p{{ entry.id }}">
    {{ entry }}
   </a>
</div>
{% else %}
<div class="rounded cell {{ entry.entry_type }}" id="cell_p{{ entry.id }}">
  <a class="inner" href="{{ entry.get_absolute_url }}">
    {{ entry }}
  </a>
</div>
{% endif %}
{% endwith %}
</div>
