{% extends "blog/base.html" %}
{% load i18n %}
{% load coffeescript %}
{% block extra-head %}
  {% if is_frontpage %}
    <meta name="description" content="{{ blog.description }}" />
  {% endif %}
  {% if blog.feed_url %}
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ blog.feed_url }}" />
  {% endif %}
  {% if tag %}
    <link rel="alternate" type="application/rss+xml" title="{% blocktrans with tag.name as tag %}Tag: {{ tag }}{% endblocktrans %}" href="{% url blog:tag_feed tag=tag.name %}" />
  {% endif %}
{% endblock %}

{% block bodyclass %}index{% if is_frontpage %} frontpage{% endif %}{% endblock %}

{% block content %}

  {% if is_frontpage %}
    {% include "blog/include/about.html" %}
  {% endif %}

  {% if tag or search %}
    <section>
  {% endif %}
  {% if tag %}
    <h1>{% blocktrans with tag.name as tag %}Tag: {{ tag }}{% endblocktrans %}</h1>
  {% endif %}
  {% if search %}
    <h1>{% blocktrans %}Search: {{ search_term }}{% endblocktrans %}</h1>
  {% endif %}

    {% if search and not entries %}
      {% trans "Nothing found." %}
    {% else %}
      <div class="entries">
        {% include "blog/include/entries-list.html" %}
      </div>
    {% endif %}

  {% if tag or search %}
    </section>
  {% endif %}

{% endblock %}

{% block extra-js %}
  <script>
    {% inlinecoffeescript %}
      window.init_blog_index()
    {% endinlinecoffeescript %}
  </script>
{% endblock %}
