{% extends "blog/base.html" %}
{% load blog_tags %}
{% load i18n %}
{% block title %}{{ blog }}{% endblock %}
{% block sidebar %}
<ul>
  <li><a href="{% url about %}">{% trans "About" %}</a></li>
</ul>
<ul>
  {% if page.has_next %}
    <li><a href="{% url blog:blog_listing_page page.next_page_number %}">{% trans "Next page" %}</a> &rarr;</li>
  {% endif %}
  {% if page.has_previous %}
    <li>&larr; <a href="{% ifequal page.previous_page_number 1 %}{% url blog:index %}{% else %}{% url blog:blog_listing_page page.previous_page_number %}{% endifequal %}">{% trans "Previous page" %}</a></li>
  {% endif %}
</ul>
{% comment %}
<ul>
  <li><strong>Архив записей:</strong><br/> <a href="#">по датам</a> / <a href="#">по тегам</a></li>
</ul>
{% endcomment %}
{% endblock %}
{% block content %}
  {% if entries %}
  <div class="list">
    {% for entry in entries %}
    <div class="post hide append-bottom" id="p{{ entry.id }}"> 
      <h2><a href="{{ entry.get_absolute_url }}">{{ entry }}</a></h2>
      {% render_text entry short %}
    </div>
    {% endfor %}
  </div>
  <div class="grid hide clear">
    {% for entry in entries %}
      {% include "blog/grid_entry.html" %}
    {% endfor %}
  </div>
  <script type="text/javascript">$(document).ready(init_grid);</script>
  {% else %}
    <p>{% trans "No entries have been published." %}</p> 
  {% endif %}
{% endblock %}
