<!DOCTYPE html>
{% load i18n %}
{% load blog_tags %}
{% load simplegravatar %}
<html>
<body>
  <p>
    {% blocktrans with entry.title as title %}New comment to «{{ title }}»{% endblocktrans %}
  </p>

  <p>
    {% if comment.by_blog_author %}
      {% show_gravatar blog.author.email 20 %}
      <strong>{{ blog.author_name }}</strong>
    {% else %}
      {% show_gravatar comment.author_email 20 %}
      <strong>{{ comment.author_name }}</strong>
    {% endif %}
  </p>

  <blockquote>
    {{ comment.text|safe_markdown }}
  </blockquote>

  <p>
    <a href="{{ link }}">{% trans "View and reply" %}</a>
  </p>
</body>
</html>