<!DOCTYPE html>
{% load i18n %}
<html lang="ru">
  <head> 
    <meta charset="utf-8"/>
    <title>{% block title %}{% trans "Manage Blog" %}{% endblock %}</title> 
    <link rel="icon" href="{{MEDIA_URL}}images/favicon.png"/> 
    {% include "blog/admin/include/css.html" %}
    {% block extra-css %}{% endblock %}
  </head>
  <body class="admin">
    <nav class="global">
      <ul class="navigation">
        <li><a href="{% url blog:admin_add_entry %}">{% trans "New entry" %}</a></li>
        <li><a href="{% url blog:admin_index %}">{% trans "Blog admin" %}</a></li>
        <li><a href="{% url admin:index %}">{% trans "Django admin" %}</a></li>
      </ul>
    </nav>
    <div class="columns">
      {% block pre_content %}{% endblock %}
      <div id="content">
        {% include "blog/include/status-messages.html" %}
        {% block content %}
        {% endblock %}
      </div>
      <div id="sidebar">
        {% block sidebar %}{% endblock %}
      </div>
      {% block post_content %}{% endblock %}
    </div>
    {% include "blog/admin/include/js.html" %}
    {% block extra-js %}{% endblock %}
  </body>
</html>
