{% extends "blog/admin/base.html" %}
{% load i18n %}
{% load coffeescript %}

{% block title %}{% if entry %}{{ entry }}{% else %}{% trans "New entry" %}{% endif %}{% endblock %}

{% block pre_content %}
<form method="post" class="entry" action="{% if entry %}{% url blog:admin_edit_entry entry.id %}{% else %}{% url blog:admin_add_entry %}{% endif %}" />
{% endblock %}

{% block content %}
  {% with form.title as field %}{% include "blog/admin/include/field.html" %}{% endwith %}
  {% with form.slug as field %}{% include "blog/admin/include/field.html" %}{% endwith %}
  {% with form.text as field %}{% include "blog/admin/include/field.html" %}{% endwith %}
  {% with form.tags as field %}{% include "blog/admin/include/field.html" %}{% endwith %}
  <div class="buttons">
    {% if entry %}
      <a target="_blank" href="{{ entry.get_absolute_url }}">{% trans "View on site" %}</a>
    {% endif %}
    <input type="submit" name="cancel" value="{% trans "Cancel" %}" />
    <input type="submit" id="preview-button" data-url="{% url blog:admin_preview_entry %}" value="{% trans "Preview" %}" />
    <input type="submit" name="save" value="{% trans "Save" %}" />
  </div>
{% endblock %}

{% block sidebar %}

  <div class="field">
    {{ form.markdown }}
    {{ form.markdown.label_tag }}
  </div>
  <div class="field">
    {{ form.published }}
    {{ form.published.label_tag }}
  </div>
  <div class="field">
    <ul class="errors">
      {% for error in form.publication_date.errors %}
      <li>{{ error }}</li>
      {% endfor %}
      {% for error in form.publication_time.errors %}
      <li>{{ error }}</li>
      {% endfor %}
    </ul>
    {{ form.publication_date.label_tag }}<br/>
    {{ form.publication_date }} {{ form.publication_time }}
  </div>
  <div class="field">
    {{ form.disable_comments }}
    {{ form.disable_comments.label_tag }}
  </div>
  <div class="field">
    {{ form.hide_comments }}
    {{ form.hide_comments.label_tag }}
  </div>
  <div class="field">
    {{ form.include_in_rss }}
    {{ form.include_in_rss.label_tag }}
  </div>
  <div class="field">
    {{ form.cover }}
    {{ form.cover.label_tag }}
  </div>

  <div class="field" id="images-widget">
    {{ form.images.label_tag }}
    <ul class="errors">
      {% for error in form.images.errors %}
        <li>{{ error }}</li>
      {% endfor %}
    </ul>
    {{ form.images }}
    <ul class="images"></ul>
    <div id="upload-image">
      <input type="file" name="files[]" />
    </div>
    <div id="upload-image-progressbar"></div>
  </div>

{% endblock %}

{% block post_content %}
</form>
{% endblock %}

{% block extra-js %}
  <script>
    {% inlinecoffeescript %}
      {% if entry %}
      load_entry_images_url = "{% url blog:admin_list_images entry_id=entry.id %}"
      {% else %}
      load_entry_images_url = null
      {% endif %}
      $ ->
        window.BlogAdmin(load_entry_images_url, "{% url blog:admin_add_image %}", "{% url blog:admin_delete_image %}")

        $messages = $("div.message.success")
        setTimeout(->
          $messages.fadeOut(500, ->
            $messages.remove()
            return
          )
          return
        , 5000
        )
        return
    {% endinlinecoffeescript %}
  </script>
{% endblock %}