@import "compass";

header.global {
  margin-top: 1em;
  margin-bottom: 2em;
  position: relative;
  h1 {
    @include inline-block;
    font-weight: bold;
    font-size: 1em;
    margin: 0;
  }
  nav {
    @include inline-block;
  }
  ul {
    @include no-bullets;
    @include inline-block-list;
  }
  h1 + nav {
    margin-left: 1em;
  }
  li {
    margin-right: 1em;
    &:last-child {
      margin-right: 0;
    }
  }
}
