body {
  font-size: 16px;
  font-family: Helvetica,Arial, sans-serif;
  line-height: 1.5;
}

a {
  color: #039;
  text-decoration: underline;
  &:hover {
    color: #006;
  }
  .fa {
    margin-right: 0.2em;
    text-decoration: none;
    color: #999;
  }
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4 {
  margin-bottom: 0.8em;
  margin-top: 1.2em;
  &:first-child {
    margin-top: 0;
  }
}

h1, .h1 {
  font-size: 1.8em;
}

h2, .h2 {
  font-size: 1.5em;
}

h3, .h3 {
  font-size: 1.2em;
}

h4, .h4 {
  font-size: 1em;
}

img.pull-left {
  margin-right: 1em;
}

img.pull-right {
  margin-left: 1em;
}

.section-title {
  font-size: 1.5em;
}

pre {
  border: none;
  border-radius: 0;
}

.fa-rss-square, a .fa-rss-square {
  color: darkorange;
}
