body {
  font-size: 16px;
  font-family: Helvetica,Arial,sans-serif;
  line-height: 1.5; }

a {
  color: #009;
  text-decoration: underline; }
  a:hover {
    color: #000; }

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4 {
  font-weight: bold; }
  h1:first-child, .h1:first-child,
  h2:first-child, .h2:first-child,
  h3:first-child, .h3:first-child,
  h4:first-child, .h4:first-child {
    margin-top: 0; }

h1, .h1 {
  font-size: 1.8em; }

h2, .h2 {
  font-size: 1.5em; }

h3, .h3 {
  font-size: 1.2em; }

h4, .h4 {
  font-size: 1em; }

img.pull-left {
  margin-right: 1em;
  margin-bottom: 1em; }

img.pull-right {
  margin-left: 1em;
  margin-bottom: 1em; }

header.global {
  margin-top: 1em;
  margin-bottom: 2em;
  position: relative; }
  header.global h1 {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    font-weight: bold;
    font-size: 1em;
    margin: 0; }
  header.global nav {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline; }
  header.global ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
    *zoom: 1; }
    header.global ul li {
      list-style-image: none;
      list-style-type: none;
      margin-left: 0; }
    header.global ul li {
      list-style-image: none;
      list-style-type: none;
      margin-left: 0;
      display: -moz-inline-stack;
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      zoom: 1;
      *display: inline;
      white-space: nowrap; }
  header.global h1 + nav {
    margin-left: 1em; }
  header.global li {
    margin-right: 1em; }
    header.global li:last-child {
      margin-right: 0; }

footer.global {
  position: relative;
  padding: 1em;
  margin-top: 1em;
  margin-bottom: 2em;
  background-color: #eee; }
  footer.global ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
    *zoom: 1; }
    footer.global ul li {
      list-style-image: none;
      list-style-type: none;
      margin-left: 0; }
    footer.global ul li {
      list-style-image: none;
      list-style-type: none;
      margin-left: 0;
      display: -moz-inline-stack;
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      zoom: 1;
      *display: inline;
      white-space: nowrap; }
  footer.global li {
    margin-right: 1em; }
