@import "../definitions.less";
@import "../base.less";

body {
  font-size: @base-font-size;
  font-family: @font-family;
  line-height: 1.5;
}

#status-messages {
  .message {
    margin-bottom: 1em;
    padding: 0.5em 1em;
    .message-mixin;
  }
}