<footer class="global container">
  <nav>
    <ul>
      <li>
        <a href="{{ SITEURL }}/blog/archive/">{% trans %}Archive{% endtrans %}</a>
      </li>
      <li>
        <a href="{{ SITEURL }}/blog/tags/">{% trans %}Tags{% endtrans %}</a>
      </li>
      <li>
        <a href="{{ SITEURL }}/blog/subscribe/">{% trans %}Subscribe{% endtrans %}</a>
      </li>
    </ul>
  </nav>
  <p class="copyright">
    {% trans %}&copy; Andrey Fedoseev{% endtrans %}, 2010 &mdash; {{ TODAY.year }}
  </p>
</footer>
