<header class="global container clearfix">
  <div class="pull-left">
    {% if output_file == "blog/index.html" %}
      <h1>{{ SITENAME }}</h1>
    {% endif %}
    <nav>
      <ul>
        {% if output_file != "blog/index.html" %}
          <li>
            <strong><a href="{{ SITEURL }}{{ INDEX_URL }}">{{ SITENAME }}</a></strong>
          </li>
        {% endif %}
        {% include "include/main-navigation.html" %}
      </ul>
    </nav>
  </div>
  <div class="pull-right">
    <nav>
      <ul>
        {% for lang, url in LANG_URLS.items() %}
          <li><a href="{{ url }}">{{ lang }}</a></li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</header>
