{% load compress %}
{% load coffeescript %}

{% if debug %}
  <script src="{{ STATIC_URL }}javascripts/jquery/jquery.min.js"></script>
  <script src="{{ STATIC_URL }}javascripts/jquery/jquery-ui.min.js"></script>
{% else %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js"></script>
{% endif %}

{% compress js %}
  <script type="text/javascript" src="{% url i18n.js %}"></script>
  <script src="{{ STATIC_URL }}javascripts/jquery/jquery.tmpl.js"></script>
  <script src="{{ STATIC_URL }}javascripts/jquery/jquery.ocupload.js"></script>
  <script src="{{ STATIC_URL }}javascripts/jquery/jquery.validate.js"></script>
  <script src="{{ STATIC_URL }}javascripts/jquery/markitup/jquery.markitup.js"></script>
  <script src="{{ STATIC_URL }}javascripts/jquery/markitup/sets/html/set.js"></script>
  <script src="{{ STATIC_URL }}{% coffeescript "javascripts/blog/admin.coffee" %}"></script>
{% endcompress %}
