{% load i18n %}
<form class="comment-form span-14" action="{% url blog:add_comment entry_id=entry_id %}" method="post">
  {{ form.reply_to }}
  
  <div class="field span-14 text">
    {{ form.text.label_tag }}
    <a class="help small quiet" target="_blank"
       title="{{ form.text.help_text }}"
       href="http://daringfireball.net/projects/markdown/">(Markdown)</a>
    {% if validate %}
      {% for error in form.text.errors %}
      <div class="error small">{{ error }}</div>
      {% endfor %}
    {% endif %}
    <div class="clear"></div>
    {{ form.text }}
  </div>
  
  <div class="field span-7 name">
    {{ form.author_name.label_tag }}
    {% if validate %}
      {% for error in form.author_name.errors %}
      <div class="error small">{{ error }}</div>
      {% endfor %}
    {% endif %}
    <div class="clear"></div>
    {{ form.author_name }}
  </div>

  <div class="field span-7 email last">
    {{ form.author_email.label_tag }}
    <a class="help noclick small quiet" href="#" title="{{ form.author_email.help_text }}">{% trans "why?" %}</a>
    {% if validate %}
      {% for error in form.author_email.errors %}
      <div class="error small">{{ error }}</div>
      {% endfor %}
    {% endif %}
    <div class="clear"></div>
    {{ form.author_email }}
  </div>
  
  
  <div class="field clear span-14 last url">
    {{ form.author_url.label_tag }}
    <a class="help noclick small quiet" href="#" title="{{ form.author_url.help_text }}">{% trans "why?" %}</a>
    {% if validate %}
      {% for error in form.author_url.errors %}
      <div class="error small">{{ error }}</div>
      {% endfor %}
    {% endif %}
    <div class="clear"></div>
    {{ form.author_url }}
  </div>
  
  {% comment %}
  <div class="field span-7 clear notify">
    {{ form.notify }}{{ form.notify.label_tag }}
  </div>
  {% endcomment %}
  
  <div class="buttons span-14 last">
    <input type="submit" value="{% trans "Submit" %}" />
    <div class="indicator"></div>
  </div>
  <div class="clear"></div>
</form>
