{% load i18n %}
{% if display_type %}
<h6>{% trans "Display as:" %}</h6>
<ul class="switch-display-type-links">
  <li>
  {% ifequal display_type "grid" %}
    <a href="{% url blog:switch_display_type %}?next={{ request.path|urlencode }}">{% trans "as list" %}</a> /
    <span>{% trans "as grid" %}</span>
  {% else %}
    <span>{% trans "as list" %}</span> /
    <a href="{% url blog:switch_display_type %}?next={{ request.path|urlencode }}">{% trans "as grid" %}</a>
  {% endifequal %}
  </li>
</ul>
{% endif %}