{% load i18n %}
{% if is_author %}
<nav class="author-panel">
  <ul>
    <li><a href="{% url blog:admin_add_entry %}">{% trans "New entry" %}</a></li>
    {% with blog.spam_comments.count as count %}
      {% if count %}
        <li><a href="{% url blog:admin_spam %}">{% trans "Spam" %} (<span id="spam-counter">{{ count }}</span>)</a></li>
      {% endif %}
    {% endwith %}
    <li><a href="{% url blog:admin_index %}">{% trans "Entries list" %}</a></li>
    {% if request.user.is_staff %}
    <li><a href="{% url admin:index %}">{% trans "Django admin" %}</a></li>
    {% endif %}
    <li class="right"><a href="{% url logout %}?next={{ blog.get_absolute_url }}">{% trans "Log out" %}</a></li>
  </ul>
</nav>
{% endif %}
