{% load i18n %}
{% load blog_tags %}
{% load simplegravatar %}
<article class="comment lvl{{ comment.level }}" data-id="{{ comment.id }}" id="comment{{ comment.id }}">
  <header>
    {% show_gravatar comment.author_email 20 %}
    <span class="author">
      {% if comment.author_url %}
        <a href="{{ comment.author_url }}" rel="nofollow">{{ comment.author_name }}</a>
      {% else %}
        {{ comment.author_name }}
      {% endif %}
    </span>
    <time class="clearfix" datetime="{{ comment.timestamp|date:"c" }}">{{ comment.timestamp|humanized_date }}</time>
  </header>
  {{ comment.text|safe_markdown }}
  <footer>
    <a class="reply dashed" href="#comment{{ comment.id }}">{% trans "Reply" %}</a>
  </footer>
</article>

