{% load compress %}
{% load less %}

{% compress css %}
  <link rel="stylesheet" href="{{ STATIC_URL }}javascripts/jquery/jquery.qtip.css" />
  <link rel="stylesheet" href="{{ STATIC_URL }}javascripts/jquery/apprise.css" />
  <link rel="stylesheet" href="{{ STATIC_URL }}{% less "styles/blog/blog.less" %}" />
  <link rel="stylesheet" href="{{ STATIC_URL }}styles/codehilite.css" />
{% endcompress %}

{% include "include/fonts.html" %}

<!--[if lt IE 9 ]>
  <link rel="stylesheet" href="{{ STATIC_URL }}{% less "styles/blog/ie.less" %}" />
<![endif]-->
<!--[if lt IE 8 ]>
  <link rel="stylesheet" href="{{ STATIC_URL }}{% less "styles/blog/ie7.less" %}" />
<![endif]-->