{% load compress %}
{% load less %}
{% compress css %}
  <link rel="stylesheet" href="{{ STATIC_URL }}javascripts/highlight/github.css" />
  <link rel="stylesheet" href="{{ STATIC_URL }}javascripts/jquery/jquery.qtip.css" />
  <link rel="stylesheet" href="{{ STATIC_URL }}javascripts/jquery/apprise.css" />
  <link rel="stylesheet" href="{{ STATIC_URL }}{% less "styles/blog/blog.less" %}" />
{% endcompress %}

<!--[if lt IE 9 ]>
  <link rel="stylesheet" href="{{ STATIC_URL }}{% less "styles/blog/ie.less" %}" />
<![endif]-->
<!--[if lt IE 8 ]>
  <link rel="stylesheet" href="{{ STATIC_URL }}{% less "styles/blog/ie7.less" %}" />
<![endif]-->