{% load i18n %}
{% load blog_tags %}
{% for entry in entries %}
  <article class="entry">
    <header>
      <h1><a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a></h1>
      {% if is_author %}
        <a class="edit" href="{% url blog:admin_edit_entry entry.id %}">{% trans "Edit" %}</a>
      {% endif %}
      <div class="timestamp">
        {% trans "Published on" %} <time datetime="{{ entry.publication_timestamp|date:"c" }}Z" pubdate>{{ entry.publication_timestamp|humanized_date }}</time>
      </div>
    </header>
    {{ entry.short_text }}
    <footer>
      <div>
        {% if entry.tags.exists %}
        {% trans "Tags" %}:
        <ul>
          {% for tag in entry.tags %}
            <li><a href="{% url blog:index tag=tag.name %}">{{ tag }}</a></li>
          {% endfor %}
        </ul>
        {% endif %}
        <a href="{{ entry.get_absolute_url }}#comments" class="comments">
          {% if entry.comments.exists %}
            {% blocktrans count count=entry.comments.count %}{{ count }} comment{% plural %}{{ count }} comments{% endblocktrans %}
          {% else %}
            {% trans "No comments" %}
          {% endif %}
        </a>
      </div>
    </footer>
  </article>
{% endfor %}
