{% load i18n %}
{% load blog_tags %}
{% if request.is_ajax %}
  <title>{% if page_title %}{{ page_title }} | {% endif %}{{ blog.title }}</title>
{% endif %}
{% for entry in entries %}
  <article class="entry">
    <header>
      <h1><a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a></h1>
      {% if is_author %}
        <a class="edit" href="{% url blog:admin_edit_entry entry.id %}">{% trans "Edit" %}</a>
      {% endif %}
      <div class="timestamp">
        {% trans "Published on" %} <time datetime="{{ entry.publication_timestamp|date:"c" }}Z" pubdate>{{ entry.publication_timestamp|humanized_date }}</time>
      </div>
    </header>
    {{ entry.short_text }}
    {% spaceless %}
    <footer>
      {% if entry.tags.exists %}
      {% trans "Tags" %}:
      <ul>
        {% for tag in entry.tags %}
          <li><a href="{% url blog:index tag=tag.name %}">{{ tag }}</a></li>
        {% endfor %}
      </ul>
      {% endif %}
      <div class="right">
        <div class="share-icons" data-url="{{ entry.absolute_uri }}" data-title="{{ entry.title }}"></div>
        <a href="{{ entry.get_absolute_url }}#comments" class="comments">
          {% with entry.comments_count as comments_count %}
            {% if comments_count %}
              {% blocktrans count count=comments_count %}{{ count }} comment{% plural %}{{ count }} comments{% endblocktrans %}
            {% else %}
              {% trans "No comments" %}
            {% endif %}
          {% endwith %}
        </a>
      </div>
    </footer>
    {% endspaceless %}
  </article>

{% endfor %}

<nav class="pages">
  <a class="prev" {% if not prev_page %}style="display: none;"{% endif %} href="{{ prev_page }}">&larr; <span>{% trans "Previous page" %}</span></a>
  <a class="next" {% if not next_page %}style="display: none;"{% endif %} href="{{ next_page }}"><span>{% trans "Next page" %}</span> &rarr;</a>
</nav>
