{% load compress %}
{% load coffeescript %}

{% if debug %}
  <script src="{{ STATIC_URL }}javascripts/jquery/jquery.min.js"></script>
  <script src="{{ STATIC_URL }}javascripts/jquery/ui/jquery.effects.core.js"></script>
  <script src="{{ STATIC_URL }}javascripts/jquery/ui/jquery.effects.drop.js"></script>
  <script src="{{ STATIC_URL }}javascripts/jquery/ui/jquery.effects.bounce.js"></script>
  <script src="{{ STATIC_URL }}javascripts/jquery/fancybox/jquery.fancybox-1.3.4.js"></script>
{% else %}
  <script src="http://yandex.st/jquery/1.6.2/jquery.min.js"></script>
  <script src="http://yandex.st/jquery-ui/1.8.11/jquery.effects.core.js"></script>
  <script src="http://yandex.st/jquery-ui/1.8.11/jquery.effects.drop.js"></script>
  <script src="http://yandex.st/jquery-ui/1.8.11/jquery.effects.bounce.js"></script>
  <script src="http://yandex.st/jquery/fancybox/1.3.4/jquery.fancybox.min.js"></script>
{% endif %}

<script src="{% url i18n.js %}"></script>

<!--[if lt IE 9]>
{% if debug %}
  <script src="{{ STATIC_URL }}javascripts/jquery/json2.js"></script>
{% else %}
  <script src="http://yandex.st/json2/2011-01-18/json2.min.js"></script>
{% endif %}
<![endif]-->

{% compress js %}
  <script src="{{ STATIC_URL }}javascripts/jquery/spin.js"></script>
  <script src="{{ STATIC_URL }}javascripts/jquery/jquery.pjax.js"></script>
  <script src="{{ STATIC_URL }}javascripts/jquery/jquery.validate.js"></script>
  <script src="{{ STATIC_URL }}javascripts/jquery/jquery.qtip.js"></script>
  <script src="{{ STATIC_URL }}javascripts/jquery/jquery.textareaPreview.js"></script>
  <script src="{{ STATIC_URL }}javascripts/jquery/apprise.js"></script>
  <script src="{{ STATIC_URL }}javascripts/jquery/fotorama.js"></script>
  <script src="{{ STATIC_URL }}javascripts/showdown/showdown.js"></script>
  <script src="{{ STATIC_URL }}{% coffeescript "javascripts/login.coffee" %}"></script>
  <script src="{{ STATIC_URL }}{% coffeescript "javascripts/blog/blog.coffee" %}"></script>
  <script>
    {% inlinecoffeescript %}
      $(->
        window.init_login_box()
      )
    {% endinlinecoffeescript %}
  </script>
{% endcompress %}
