{% load i18n %}
<nav>
  <ul>
    {% if not is_frontpage and not is_about_page %}
      <li><a href="{% url about %}" rel="author">{% trans "About" %}</a></li>
    {% endif %}
    <li><a href="{% url blog:archive %}">{% trans "Archive" %}</a></li>
    <li><a href="{% url blog:tags %}">{% trans "Tags" %}</a></li>
    {% if blog.feed_url %}
      <li class="rss"><a href="{{ blog.feed_url }}">{% trans "RSS" %}</a></li>
    {% endif %}
      <li class="plusone"><g:plusone size="small" count="true" href="{{ blog.get_full_url }}"></g:plusone></li>
  </ul>
</nav>
